@media (max-width: 768px){
    header{
        @include flex(column, center, center, 1.25rem);
        background-color: pink;
        flex-wrap: nowrap;
    }
    main{
        @include flex(column, center, center, 12pxm);
        text-size-adjust: 1rem;
        flex-wrap: nowrap;
    }
    footer{
        @include flex(column, center, center, 1.25rem);
        background-color: pink;
        flex-wrap: nowrap;
    }
}
