header{
    width: 100%;
    height: 5rem;
    background-color: #84BFB4;

    nav{
        .navbar{
            @include flex(row,left,center,.625rem);
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: $blanco;
                    font-size: 30px;
                    text-align: left;
                    }
                }
            }
        }
    }
